header div {
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    height: 100px;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    align-self: center;
    justify-self: center;
}

#bg_SLC {
    background-image: url("../images/slc_skyline.jpg");
}

#bg_Provo {
    background-image: url("../images/downtown_provo.jpg");
}

#bg_Ogden {
    background-image: url("../images/ogden_sign.jpg");
}

.bg {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#state-name {
    grid-column: 2/3;
}
#city-flag {
    grid-column: 4/5;
}

.title {
    justify-self: center;
}

#city-quote {
    margin: 0;
    align-self: center;
    justify-self: center;
}

main {
    display: flex;
    flex-direction: row;
    /*height: 75%;*/
}

section {
    width: 800px !important;
}

table {
    margin: 0 auto 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    text-align: center;
    padding: 2px;
}